* {
    box-sizing: border-box;
}

button {
    background-color: #fff;
    border: 0;
}

.inbox-state img {
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

.full-size-icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    align-self: center;
}

.mail-preview.fav {
    background-color: rgb(214, 214, 238) !important
}

.inbox-state {
    margin-left: 7px;
    color: #fff;
    margin-right: 40px;
    display: flex;
    width: 130px;
    padding: 4px;
    font-size: 0.9em;
    border-radius: 15px;
    font-family: system-ui, 'serif';
    justify-content: space-between;
    box-shadow: 0px 4px 6px 0px rgb(76 72 72 / 58%);
    background-color: #dd4f43;
    margin-bottom: 5px;
}

.inbox {
    align-self: center;
    padding-right: 15px;
}

.mail-details input {
    border-radius: 4px;
    border: 1px solid grey;
    padding: 4px;
}

.mail-details {
    font-size: 1.5em;
    line-height: 30px;
    width: 80%;
    margin-left: 10%;
    margin-top: 15px;
    background-color: rgb(235, 229, 229);
    padding: 20px;
    border-radius: 5px;
}

.mail-details button {
    border: 1px solid rgb(212, 210, 210);
    background-color: white;
    border-radius: 3px;
    height: 50px;
    cursor: pointer;
}

.mail-preview {
    width: 75vw;
    font-size: 1.1em;
    margin: 5px;
    padding: 10px;
    line-height: 5vh;
    border: 0.5px solid rgb(231, 224, 224);
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
}

.mails-container {
    margin-left: 200px;
    background-image: url('../../../../assets/img/mail-background.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 50px;
    min-height: 600px;
}

.date {
    font-size: 10px !important;
    align-content: start;
    display: flex;
}

.mail-subject {
    align-self: center;
    display: flex;
    margin-right: 40px;
}

.unread {
    background-color: rgb(236 235 235 / 62%);
    border-radius: 3px;
    font-weight: 400;
}

.read {
    background-color: rgb(255, 255, 255);
}

.mail-subject span {
    margin-right: 30px;
    font-weight: 700;
    font-size: 1em;
    color: rgb(82, 81, 81);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mail-body {
    cursor: pointer;
    align-self: center;
}

.mail-preview p {
    padding-right: 40px;
    margin-right: 40px;
    margin: 0;
    padding: 0;
    display: inline;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-contant {
    display: flex;
    max-width: 1800px;
}

.aside {
    width: 190px;
    position: fixed;
    margin-top: 115px;
    display: flex;
    flex-direction: column;
}

.aside-title {
    align-self: center;
    font-family: sans-serif;
    font-size: 14px;
}

.page-nav {
    margin-bottom: 13px;
}

.add-link.compose {
    border: 1px solid rgb(189, 187, 187);
    border-radius: 4em;
    margin: 0;
    margin-bottom: 8px;
}

.add-btn.btn.compose {
    text-align: center;
    font-size: 20px;
    margin-right: 30px;
}

.aside-title.compose {
    font-weight: 600;
    font-size: 1.5em;
}


.add-link:hover {
    background-color: rgb(226, 224, 224);
}

.add-link {
    padding: 4px;
    margin-bottom: 10px;
    display: flex;
    margin-left: 20px;
    font-size: 10px;
    transition: all 0.2s;
}

.add-link span {
    align-self: center;
}

.btn {
    width: 3em;
    cursor: pointer;
}

.add-btn.btn {
    transition: all 0.3s;
    margin-right: 40px;
}

.status-container {
    text-align: center;
    width: 100%;
    height: 20px;
}

.status {
    text-align: center;
    background-image: linear-gradient(to right, rgb(86, 231, 224), rgb(63, 235, 91));
    border-radius: 3px;
    font-size: 13px;
    height: 20px;
    text-align: center;
}

.mail-compose {
    display: grid;
    width: 60vw;
    height: 70vh;
    max-width: 800px;
    margin-left: 10px;
}

.mail-compose input {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid black;
}

.mail-compose textarea {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid black;
}

.mail-compose header {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid black;
}

aside a {
    padding: 0;
    margin: 0;
    width: 0;
}

.mail-compose header {
    background-color: rgb(19, 110, 184);
    color: whitesmoke;
    margin: 0;
}

.read-btn:focus {
    border: 0;
    outline-width: 0;
    outline-color: inherit;
    outline-style: none;
    outline-width: none;
}

.read-btn {
    background-color: inherit;
    border: 0;
    margin: 0;
    width: 0;
    cursor: pointer;
    margin-right: 20px;
}

.preview-header-container header {
    padding: 0;
    justify-content: start;
    border-bottom: 0;
}

.preview-header-container header input {
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 15px;
    width: 360px;
    box-shadow: 0px 4px 6px 0px rgb(76 72 72 / 40%);
    border: 1.5px solid #dd4f43;
    margin-left: 60px;
}

.preview-header-container header select {
    border: 1px solid gray;
    border-radius: 3px;
    height: 1.5em;
}

.send-btn {
    margin-left: calc(100% - 60px);
    object-fit: cover;
    color: rgb(250, 246, 246);
    margin-top: 1px;
    width: 60px;
    height: 50px;
    margin-right: 30px;
    margin-top: 20px;
}

.send-btn.cancel {
    width: 30px;
    height: 30px;
}

nav {
    display: flex;
    display: none;
}

.hamburger-icon {
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
}

.phone-nav {
    display: none;
}

@media(max-width:700px) {
    nav {
        width: 90vw;
        display: flex;
    }
    .phone-nav {
        background-color: rgb(49 49 49 / 48%);
        display: block;
        position: absolute;
        right: 0vw;
        width: 100vw;
        height: 56vh;
        padding-top: 10px;
        display: grid;
        grid-template-columns: 50px 50px;
        grid-template-rows: 50px 50px;
        justify-content: space-evenly;
        align-content: space-around;
        top: -100vh;
        transition: 1s;
    }
    .phone-nav.active{
        top:30vh;
    }

    .add-btn.add-btn.btn.compose{
        font-size:2.5em
    }
   
    .add-link.compose{
        border: 0;
        padding: 4px;
        font-size: 10px;
        
    }
    .btn{
        width: 2.5em;
        font-size: 2.5em;
    }
    .add-link{
        margin-left: 0;
    }
    .main-contant {
        display: block;
        width: 94vw;
    }
    .aside {
        position: static;
        display: none;
        width: auto;
    }
    .mails-container {
        width: 0;
        margin: 0;
    }
    .mail-preview {
        width: 94vw;
        padding: 0;
        margin: 0;
        display: block;
    }
    .mail-details {
        width: 94vw;
    }
}