* {
    box-sizing: border-box;
}

.mail-details {
    font-size: 1.5em;
    line-height: 30px;
    width: 60%;
    margin-left: 10%;
    margin-top: 15px;
}

.mail-details button {
    border: 1px solid rgb(212, 210, 210);
    background-color: white;
    border-radius: 3px;
    height: 50px;
    cursor: pointer;
}

.mail-preview {
    font-size: 1.1em;
    margin: 5px;
    overflow: hidden;
    height: 10vh;
    line-height: 10vh;
    border: 0.5px solid rgb(231, 224, 224);
    border-radius: 2px;
}

.mails-container {
    margin-left: 15vw;
    border-left: 1px solid rgb(184, 184, 184);
}

.mail-subject {
    display: inline;
    width: 100px;
    margin-right: 50px;
}

.unread {
    background-color: rgb(236 235 235 / 62%);
    border-radius: 3px;
    font-weight: 600;
}

.read {
    background-color: rgb(255, 255, 255);
}

.mail-preview span {
    padding: 5px;
    margin-right: 30px;
    font-size: 1.3em;
    color: rgb(82, 81, 81);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mail-preview p {
    margin: 0;
    padding: 0;
    display: inline;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-contant {
    display: flex;
    max-width: 1167px;
}

.aside:first-child {
    margin-top: 50px;
}

.aside {
    width: 15vw;
    position: fixed;
}

.aside-title {
    align-self: center;
    font-family: sans-serif;
    font-size: 14px;
}

.add-link: {
    font-size: 20px;
}

.add-link {
    margin-bottom: 25px;
    display: flex;
    /* justify-content: center; */
    margin-left: 2vw;
    font-size: 10px;
}

.add-link span {
    align-self: center;
}

.btn {
    width: 3em;
    cursor: pointer;
}

/* .add-link:hover {
    width: 2vw;
} */

.add-link {
    transition: all 0.3s;
}

.add-btn.btn:hover {
    width: 5vw;
}

.add-btn.btn {
    transition: all 0.3s;
    margin-right: 40px;
    /* height: 10vh; */
}

.status-container {
    text-align: center;
    width: 100%;
    height: 20px;
}

.status {
    text-align: center;
    background-image: linear-gradient(to right, rgb(86, 231, 224), rgb(63, 235, 91));
    border-radius: 3px;
    font-size: 13px;
    height: 20px;
    text-align: center;
}

.mail-compose {
    display: grid;
    width: 80vw;
    height: 60vh;
}

aside a {
    padding: 0;
    margin: 0;
    width: 0;
    margin-right: 3vw;
}

.mail-compose header {
    background-color: rgb(19, 110, 184);
    color: whitesmoke;
    margin: 0;
}

.mail-compose button {
    background-color: steelblue;
    color: whitesmoke;
    border-radius: 3px;
    border: 1px solid rgb(222, 235, 203);
    width: 50px;
    /* height: 50px; */
}

.mail-preview span.read-emoji {
    font-size: 1em;
    cursor: pointer;
}

.read-btn:focus {
    border: 0;
    outline-width: 0;
    outline-color: inherit;
    outline-style: none;
    outline-width: none;
}

.read-btn {
    background-color: inherit;
    border: 0;
    padding-right: 3%;
    margin: 0;
    width: 0;
    cursor: pointer;
}

.preview-header-container header {
    padding: 0;
    justify-content: start;
}

.preview-header-container header input {
    border-radius: 3px;
    margin-bottom: 10px;
    border: 1px solid grey;
    margin-left: 20px;
}

.preview-header-container header select {
    border: 1px solid gray;
    border-radius: 3px;
    /* font-size: 10px; */
    height: 1.5em;
}