.main-demo {
    overflow: visible;
    position: absolute;
    top: 535px;
    left: calc(50vw - 180px);
    width: 50vw;
}

.demo-screen {
    height: 650px;
    width: 400px;
    position: absolute;
    top: 450px;
    left: calc(50vw - 180px);
}

.footer-pusher {
    min-height: 650px;
    height: 90vh;
}

.main-demo .note {
    font-size: 16px;
}

.main-demo button.next {
    position: relative;
    left: 400px;
    top: -160px;
    font-size: 2em;
    padding: 10px 20px;
    border-radius: 2em;
    background-color: rgb(76, 204, 255);
    color: rgb(225, 231, 238);
}

.main-demo>img {
    height: 100px;
    position: relative;
}

.main-demo>h1 {
    font-size: 2em;
    position: relative;
    top: -900px;
}

.main-demo img.stage-0 {
    top: -910px;
    left: -300px;
}

.main-demo img.stage-1 {
    top: -980px;
    left: -70px;
}

.main-demo img.stage-2 {
    top: -400px;
    left: -100px;
}

.main-demo img.stage-3 {
    width: 70px;
    height: 70px;
    top: -365px;
    left: 45px;
}

.main-demo img.stage-4 {
    width: 70px;
    height: 70px;
    top: -365px;
    left: 100px;
}

.main-demo img.stage-5 {
    width: 70px;
    height: 70px;
    top: -365px;
    left: 156px;
}

.main-demo img.stage-6 {
    width: 70px;
    height: 70px;
    top: -365px;
    left: 213px;
}

.main-demo img.stage-7 {
    width: 70px;
    height: 70px;
    top: -365px;
    left: 271px;
}

.main-demo img.stage-8 {
    width: 70px;
    height: 70px;
    top: -882px;
    left: 37px;
}

.main-demo img.stage-9 {
    width: 70px;
    height: 70px;
    top: -881px;
    left: 220px;
}

.main-demo img.stage-10 {
    width: 120px;
    height: 90px;
    top: -890px;
    left: 253px;
}

.main-demo img.stage-11 {
    width: 50px;
    height: 50px;
    top: -843px;
    left: 39px;
}

.main-demo img.stage-12 {
    width: 50px;
    height: 50px;
    top: -541px;
    left: 84px;
}