.note-img img {
    margin-left: 10px;
    width: 300px;
    border-radius: 20px;
    margin-top: 10px;
}

div.note-img button.delete {
    color: #f84436;
    border: 0;
    position: relative;
    top: 18px;
    left: -3px;
}