@import '../css/animates.css';
.pinned,
.unpinned {
    flex-wrap: wrap;
    margin-top: 130px;
}

.notes-container h2 {
    padding-left: 20px;
}

.note {
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    padding: 15px;
    border: 2px solid rgb(0, 153, 255);
    background-color: rgb(246, 246, 246);
    margin-top: 40px;
    margin-left: 40px;
    border-radius: 20px;
}

.note .actions {
    align-items: flex-end;
    padding: 0;
    position: absolute;
    list-style: none;
    justify-content: flex-end;
    margin-top: 0px;
}

.note .actions img {
    cursor: pointer;
    height: 2em;
    width: unset;
}

.note-img img {
    margin-left: 10px;
    width: 300px;
    border-radius: 20px;
    margin-top: 10px;
}

.note-video video {
    object-fit: contain;
    margin-left: 10px;
    width: 300px;
    border-radius: 20px;
    margin-top: 10px;
}

.note textarea {
    margin-top: 30px;
    background-color: rgb(246, 246, 246);
    border: 0;
    max-width: 300px;
}

.note-todos {
    margin-top: 20px;
    max-width: 300px;
}

.note input {
    background-color: rgb(246, 246, 246);
    border: 0;
    max-width: 350px;
}

button.delete {
    padding-bottom: 4px;
    align-self: self-start;
    border: 1px solid rgb(54, 54, 54);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50%;
    position: relative;
    line-height: 1em;
}

button.delete:focus {
    outline: 0;
    background-color: #f84436;
    color: rgb(238, 238, 238) !important;
}

.note button.delete {
    font-size: 1.1em;
    top: -28px;
    left: -41px;
}

li.pin {
    cursor: pointer;
    margin-top: 10px;
    font-size: 1.7em;
    margin-right: 180px;
}

.note-img button.delete {
    color: #f84436;
    border: 0;
    position: relative;
    top: 18px;
    left: -3px;
}

.note-video button.delete {
    color: #f84436;
    border: 0;
    position: relative;
    top: 18px;
    left: -3px;
}

.note-text button.delete {
    color: #f84436;
    border: 0;
    position: relative;
    top: -28px;
    left: 0px;
}

.note-todos button.delete {
    color: #f84436;
    border: 0;
    position: relative;
    top: -10px;
    left: 0px;
}

.add-line {
    align-items: center;
    margin-top: 1.4em;
}

.add-line input {
    font-size: 0.8em;
    border: 1px solid rgb(185, 185, 185);
    padding: 0.35em 0.7em;
    border-radius: 2em;
    width: 80%;
}

.add-line button {
    font-size: 0.9em;
    padding: 0.35em 0.7em;
    margin-left: 10px;
    border-radius: 2em;
    border: 0;
}

.add-line ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0.7em;
}

.add-line li {
    padding: 5px;
}

.add-line li img {
    height: 2rem;
    width: 2rem;
    border-radius: 0;
}

.add-line li:not(:first-child) {
    margin-left: 15px;
}

.add-line li:hover {
    cursor: pointer;
}


/* TODOS */

.is-done {
    cursor: pointer;
    font-size: 1em;
    border-radius: 50%;
    border: 1px solid;
    width: 1em;
}

.note-todos li {
    padding: 5px;
}


/* HEADER */

input.search-bar {
    margin: 20px 0 0 15px;
    font-size: 1.2rem;
    border: 1px solid rgb(185, 185, 185);
    padding: 0.35em 0.7em;
    border-radius: 2em;
    width: 365px;
}


/* HELPERS */

input:focus {
    outline: 0;
}

button:focus {
    outline: 0;
}

button:hover {
    cursor: pointer;
}