.note-todos {
    margin-top: 20px;
    max-width: 300px;
}

li.pin {
    cursor: pointer;
    margin-top: 10px;
    font-size: 1.7em;
    margin-right: 145px;
}

div.note-todos button.delete {
    color: #f84436;
    border: 0;
    position: relative;
    top: -10px;
    left: 0px;
}

.is-done {
    cursor: pointer;
    font-size: 1em;
    border-radius: 50%;
    border: 1px solid;
    width: 1em;
}

.note-todos li {
    padding: 5px;
}