

@import '../../apps/Mail/css/mail-css.css';


body {
    background-color:  rgb(249 249 249 / 30%);
    
}
header{
    display: flex;
    padding: 15px 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e4dfdf;
    justify-content: space-between;
    
}

.logo{
    width: 65px;
    height: 65px;
}


.navbar {
    padding: 0;
    margin: 0;
}


.navbar li{
    display: flex;
    align-items: center;
    margin:0px 30px;
    list-style: none;
    text-decoration: none;
}

a{
    color: rgb(56, 54, 54);
    text-decoration: none;
}


/* FLEX */

.flex {
    display: flex;
}

.flex.col {
    flex-direction: column;
}

.flex.center {
    align-items: center;
}

